<div *ngIf="!accesso" class="container">
    <div class="col-xs-12">

        <div class="wrapper well col-md-12">
            <form #form="ngForm" 
            (ngSubmit)="login()">
            <h1>Login</h1>
            <h5>Pizza Web e qui per te</h5>
            <hr class="sep"/>
            <div class="group">
                <input type="text"
                required
                    id="username"
                    name="username" 
                    ngModel/><span class="highlight"></span><span class="bar"></span>
                <label>Nome</label>
            </div>
            <div class="group">
                <input type="numeroTelefono" 
                required
                id="numeroTelefono"
                name="numeroTelefono"
                ngModel/><span class="highlight"></span><span class="bar"></span>
                <label>Numero Telelono</label>
                </div>
                <p *ngIf="!form.valid && form.touched" style="color: red">Inserire Username & Numero di telefono</p>
                <div class="btn-box">
                    <button class="btn btn-info" type="submit">Accedi</button>
                <button class="btn btn-cancel"
                (click)="registrazione()"
                type="button">Registrazione</button>
                </div>
                <p *ngIf="form.valid" class="errore" id="errore"></p>
            </form>
        </div>
    </div>
</div>
<div class="container" *ngIf="accesso && !formRegistrazione">
    <div class="col-md-7" style="float: left">
        <h1>Accesso Effettuato</h1>
        <hr>
        <div>
            <p>
                    Da dove viene?
                    Al contrario di quanto si pensi, Lorem Ipsum non è semplicemente una sequenza casuale di caratteri. Risale ad un classico della letteratura latina del 45 AC, cosa che lo rende vecchio di 2000 anni. Richard McClintock, professore di latino al Hampden-Sydney College in Virginia, ha ricercato una delle più oscure parole latine, consectetur, da un passaggio del Lorem Ipsum e ha scoperto tra i vari testi in cui è citata, la fonte da cui è tratto il testo, le sezioni 1.10.32 and 1.10.33 del "de Finibus Bonorum et Malorum" di Cicerone. Questo testo è un trattato su teorie di etica, molto popolare nel Rinascimento. La prima riga del Lorem Ipsum, "Lorem ipsum dolor sit amet..", è tratta da un passaggio della sezione 1.10.32.</p>
        </div>
    </div>
</div>

<app-registrazione *ngIf="formRegistrazione"></app-registrazione>


